#appbar {
	padding: 0 .5rem;
	height: $header-height;
	color: var(--appbar-text-colour);
	background-color: var(--appbar-colour);
	display: inline-flex;
	//z-index: 100;
	position: relative;
	h1 {
		margin: 0;
		padding-right: 1rem;
		margin-right: .5rem;
		font-size: 1rem;
		display: inline;
		border-right: 1px solid var(--appbar-accent-colour);
	}
	.keyboard-focusable-button {
		font-size: .9rem;
		margin: 0;
		line-height: 1.6rem;
		color: var(--appbar-text-colour);

		& > div {
			padding: 0 .5rem;
		}

		&:hover {
			color: var(--appbar-accent-colour);
		}
	}
	.right {
		flex-grow: 1;
		text-align: right;
		margin-right: 1.5rem;
	}

	.dropdown-menu-button {
		&.opened {
			color: var(--appbar-accent-colour);
			border-bottom: 1px solid var(--appbar-accent-colour);
		}
	}
}





