#appbar {
	padding: 0 .5rem;
	height: $header-height;
	color: $dark-text;
	display: inline-flex;
	z-index: 100;
	position: relative;
	h1 {
		margin: 0;
		padding-right: 1rem;
		margin-right: .5rem;
		font-size: 1rem;
		display: inline;
		border-right: 1px solid $fontaine-blue;
	}
	.keyboard-focusable-button {
		font-size: .9rem;
		margin: 0;
		line-height: 1.6rem;

		& > div {
			padding: 0 .5rem;
		}
	}
	.right {
		flex-grow: 1;
		text-align: right;
		margin-right: 1.5rem;
	}

	.dropdown-menu-button {
		&.opened {
			color: $fontaine-blue;
			border-bottom: 1px solid $fontaine-blue;
		}
	}
}





