.colour-picker {
	button {
		width: 1.3rem;
		height: 1.3rem;
		background-color: $dark-highlight;
		padding: 0;

		div {
			width: .9rem;
			height: .9rem;
			margin: 0 auto;
			border-radius: 3px;
		}
	}

	.picker-wrapper {
		position: absolute;
      	z-index: 2;

      	.picker-cover {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}

		.open-reverse {
			position: relative;
			right: 100%;
		}
	}
}