.mode-selector-dropdown {
	min-width: 8rem;
	background-color: $darker;
	border: 1px solid $dark-lowlight;
	border-radius: 3px;
	position: relative;
	bottom: .2rem;
	color: $dark-text;

	.dropdown-menu-item {
		padding: 2px 3px;

		svg {
			vertical-align: baseline;
			position: relative;
			top: 2px;
		}

		&.highlighted {
			background-color: $fontaine-blue;
		}
	}
}

.appbar-dropdown {
	min-width: 15rem;
	background-color: var(--appbar-dropdown-colour);
	color: var(--appbar-dropdown-text-colour);
	border: 1px solid var(--appbar-dropdown-border-colour);
	padding: .4rem .4rem;
	font-size: .9rem;

	hr {
		background-color: var(--appbar-dropdown-divider-colour);
		border: 1px solid var(--appbar-dropdown-divider-colour);
		height: 1px;
		width: 99%;
	}

	.dropdown-menu-item {
		display: grid;
		grid-template-columns: 27px 1fr 1fr;
		padding: 2px 3px;

		.icon {
			$dim: 1rem;
			svg {
				vertical-align: top;
				margin-top: 1.7px;
				height: $dim;
				width: $dim;
			}
		}

		.shortcut {
			padding-left: 1rem;
		}
		
		&.highlighted {
			background-color: var(--appbar-dropdown-accent-colour);
		}
	}
}