.editor-area {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	height: 100%;
	width: 100%;
	background-color: var(--editor-container-colour);
	border: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	.editor-toolbar {
		background-color: var(--editor-toolbar-colour);
		color: var(--editor-toolbar-text-colour);
		border-bottom: 1px solid var(--editor-toolbar-border-colour);
		min-height: 41px;
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding: 0 .5rem;

		button {
			$dim: 24px;
			height: $dim;
			width: $dim;
			color: inherit;
			border: 1px solid var(--editor-toolbar-colour);
			border-radius: 2px;
			padding: 0;
			box-sizing: content-box;
			margin-left: 2px;

			&.active {
				background-color: var(--editor-toolbar-selection-colour);
				border: 1px solid var(--editor-toolbar-selection-border-colour);
			}

			&:hover {
				background-color: var(--editor-toolbar-selection-colour);
			}

			svg {
				width: $dim;
				height: $dim;
			}
		}

		.divider {
			height: 1.4rem;
			margin: 0 .3rem;
			width: 1px;
			background-color: var(--editor-toolbar-divider-colour);
		}
	}

	.editor-body {
		overflow-y: auto;

		& > div:only-child {
			height: 100%;
		}

		.slate-wrapper {
			min-height: 3rem;
			color: var(--editor-text-colour);
			caret-color: var(--editor-text-colour);
			background-color: var(--editor-background-colour);
			box-shadow: var(--editor-drop-shadow);
			border: 1px solid var(--editor-border-colour);
			width: 90%;
			max-width: var(--editor-page-width);
			margin: .5rem auto 0 auto;
			height: auto;
			font-size: var(--editor-default-font-size);
			min-height: 100%;

			& > div {
				padding: 2rem 3rem;
			}
		}
	}

	.editor-footer {

	}
}