.editor-area-footer {
	background-color: var(--editor-footer-colour);
	border-top: 1px solid var(--editor-footer-border-colour);
	height: 1.4rem;
	font-size: 1.4rem;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 8rem 1fr;
	align-items: center;
	padding: 0 .1rem;
	color: var(--editor-footer-text-colour);

	span {
		display: inline-flex;
		align-items: center;
	}

	span:nth-child(2) {
		justify-content: center;
	}

	span:nth-child(3) {
		justify-content: flex-end;
	}

	svg {
		$dim: 1.2rem;
		width: $dim;
		height: $dim;
		vertical-align: text-bottom;
	}

	button {
		&:hover {
			color: var(--editor-footer-accent-colour);
		}
	}

	span.editor-mode {
		border-right: 1px solid var(--editor-footer-inner-border-colour);
		border-left: 1px solid var(--editor-footer-inner-border-colour);
		border-radius: 3px;
		display: inline-flex;
		height: 100%;
		vertical-align: text-top;

		> button {
			margin: 0 .2rem;	
			color: var(--appbar-text-colour);	
		}

		.active {
			color: var(--editor-footer-accent-colour);
		}
	}

	span.wordcount-display {
		button {
			font-size: .7rem;
		}

		button:last-child {
			margin-left: .3rem;
		}

		svg {
			$dim: .9rem;
			height: $dim;
			width: $dim;
		}
	}
}