@mixin flashAlert($name, $colour) {
	@keyframes #{$name} {
	  	0% { background-color: transparent; }
	  	100% { background-color: #{$colour}; }
	}
}

footer {
	display: inline-flex;
	align-items: stretch;
	height: $footer-height;
	color: var(--footer-text-colour);
	background-color: var(--footer-colour);
	border-top: 1px solid var(--footer-border-colour);
	justify-content: flex-end;

	.status-display {
		padding-right: .3rem;
		margin-left: 3rem;
		font-size: .7rem;
		opacity: .6;
		display: grid;
		grid-template-columns: 1fr 2px 1.1rem;
		transition: opacity .2s;

		&[data-status="error"] {
			opacity: 1;
			animation: alertError .15s linear 0s 6 alternate;
		}

		&[data-status="alert"] {
			opacity: 1;
			animation: alertInfo .15s linear 0s 6 alternate;
		}

		@include flashAlert(alertError, var(--footer-alert-error-colour));
		@include flashAlert(alertInfo, var(--footer-alert-info-colour));

		span:first-child {
			text-align: right;
			padding-right: .3rem;
			line-height: $footer-height - .2rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		span.divider {
			display: inline-block;
			margin-top: $footer-height * 3/20;
			padding: 0;
			height: $footer-height * 3/5;
			border-left: 1px solid var(--footer-text-colour);
		}

		span:last-child {
			text-align: right;
			font-size: .9rem;
			//margin-right: .2rem;
			line-height: $footer-height - .25rem;
			svg {
				vertical-align: middle;
			}

			.spinner {
				animation: spin 2s linear infinite;
			}

			@keyframes spin {
			  	0% { transform: rotate(0deg); }
			  	100% { transform: rotate(360deg); }
			}
		}
	}
}