.import-area {
	height: 100%;
	width: 100%;
	//background-color: var(--editor-container-colour);
	border: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow-y: auto;
	overflow-x: auto;
	display: flex;
	align-items: center;
	justify-items: center;

	img, video, audio, iframe {
		max-width: 100%;
		margin: 0 auto;
	}

	iframe {
		width: 100%;
		height: 99%;
	}

}