@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

$fontaine-blue: #ADD8E6;

$dark: #444444;
$dark-text: white;
$dark-select: #333333;
$dark-highlight: #666666;
$dark-lowlight: #222222;
$darker: #333333;

$light: white;
$light-text: #666;
$light-highlight: #eee;
$light-higherlight: #ccc;

$warning-red: #EE0000;

$index-card-red: #EE0000;

$font-family-sans: "Open Sans", sans-serif;

:root {
	--editor-toolbar-text-colour: black;
	--editor-toolbar-background-colour: white;
	--editor-container-colour: #555555;
	--editor-text-colour: black;
	--editor-background-colour: white;
	--editor-drop-shadow: 10px 10px 8px black;
	--editor-page-width: 900px;
	--editor-default-font-size: 16px;

	--corkboard-container-colour: #555555;
	--corkboard-card-width: 15rem;
	//--corkboard-card-colour: white;
}

* {
	box-sizing: border-box;

	&::-webkit-scrollbar {
	    width: 15px;
	    height: 15px;
	}

	&::-webkit-scrollbar-track {
	    background: $dark;
	}

	&::-webkit-scrollbar-thumb {
	    background: $dark-highlight;
	    border-radius: 3px;
	    border: 2px solid $dark;
	}

	&::-webkit-scrollbar-corner {
		background: $dark;
	}
}

body {
	margin: 0;
	font-family: #{$font-family-sans};
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $darker;
}

button {
	background-color: transparent;
	border: none;
	border-radius: 0;
	cursor: pointer;
	color: $dark-text;

	&[disabled] {
		color: $dark-highlight;
		cursor: default;

		&:hover {
			color: $dark-highlight;
		}
	}

	&:hover {
		color: $fontaine-blue;
	}

	&.warning {

		&:hover {
			color: $warning-red;
			border-color: $warning-red;
		}
	}
}

button.border {
	border: none;
	border-radius: 0;
	cursor: pointer;
	color: $dark-text;
	padding: .3rem;
	border-radius: 3px;
	border: 1px solid $dark-text;
	font-size: .9rem;

	&[disabled] {
		cursor: default;
		opacity: .5;

		&:hover {
			color: $dark-text;
			background-color: inherit;
			border-color: $dark-text;
		}
	}

	&:hover {
		//background-color: $fontaine-blue;
		color: $fontaine-blue;
		border: 1px solid $fontaine-blue;
	}

	&.warning {

		&:hover {
			color: $warning-red;
			border-color: $warning-red;
		}
	}
}

input {
	font-family: #{$font-family-sans};
}

@import "menus";
@import "modal";

@import "main";

@import "keyboard-focusable-button";
@import "vertical-tabular-menu";
@import "colour-picker";


.vtl-window {
	height: 100%;
}

.editor-preview {
	height: 15rem;
	overflow-y: auto;
	background-color: var(--editor-container-colour);
	

	& > div {
		color: var(--editor-text-colour);
		background-color: var(--editor-background-colour);
		box-shadow: var(--editor-drop-shadow);
		font-size: var(--editor-default-font-size);
		width: 80%;
		margin: 0 auto;
		padding: 0 .5rem;
	}
}

.options-list {
	padding: .5rem;
	height: 100%;
	position: relative;
	font-size: .9rem;

	& > div {
		display: grid;
		grid-template-columns: 1fr 5rem;

		 > *:last-child {
		 	justify-self: end;
		}
	}
}

textarea {
	resize: none;
	width: 100%;
	height: 100%;
	border: none;
	font-family: $font-family-sans;
	font-size: .9rem;
	background-color: transparent;
}

.confirm-wrapper {
		padding: .3rem;
		padding-right: .5rem;
		border: none;
		display: inline-flex;
		width: 100%;
		align-self: end;
		button {
			margin-left: .5rem;
			height: 2.5rem;
			& > div {
				height: 2.5rem
			}
		}

		.right {
			flex-grow: 1;
    		text-align: right;
		}
	}

.editor-settings-tab {
	height: 100%;
	display: grid;
	grid-template-rows: 15rem 1fr 1fr;
	padding-bottom: .5rem;
}

.collapsable-div {
	
	> div {
		overflow: hidden;
	}

	.collapsable-header {
		background-color: $darker;
		padding: .1rem .5rem;
		position: relative;
		font-size: .9rem;
		cursor: pointer;
		user-select: none;
		border-bottom: 1px solid $dark-lowlight;

		&::after {
			content: "";
			position: absolute;
			right: .5rem;
			top: .4rem;
			transform-origin: 7px 4px;
			border: solid transparent 10px;
		    border-left-width: 7px;
		    border-right-width: 7px;
		    border-top-color: grey;
		    transform: rotateZ(-90deg);
		}

		&.open::after {
			transform: rotateZ(0deg);
		}
	}

	& > div:last-child.open {
		padding: .2rem;
	}
}

#right-panel {
	background-color: $dark;
	color: $dark-text;
	border-left: 1px solid $dark-lowlight;

	

	.collapsable-div {
		margin-bottom: .1rem;

		&:last-child {
			flex-grow: 1;

			> div:last-child {
				height: calc(100% - 1.5rem);
			}
		}
		

		.collapsable-header {
			height: 1.5rem;
		}

		
	}

	textarea {
		color: $dark-text;
		caret-color: $dark-text;
		height: 100%;
		min-height: 7rem;
	}

	.inspector {
		height: 100%;
		align-content: start;
		display: flex;
		flex-direction: column;

		.details {
			font-size: .9rem; 
			padding: 0 .3rem;
			.right {
				margin-left: 1rem;
				font-style: italic;
			}
		}
	}
}

.panel {
	height: 100%;
	resize: horizontal;

	&.closed {
		width: 0 !important;
		max-width: 0 !important;
		min-width: 0 !important;
		overflow: hidden;
	}
}


