//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

// Remove these eventually!
$fontaine-blue: #ADD8E6;

$dark: #444444;
$dark-text: white;
$dark-select: #333333;
$dark-highlight: #666666;
$dark-lowlight: #222222;
$darker: #333333;

$light: white;
$light-text: #666;
$light-highlight: #eee;
$light-higherlight: #ccc;

$warning-red: #EE0000;

$index-card-red: #EE0000;

$font-family-sans: "Open Sans", sans-serif;

:root {
	--app-toolbar-active: 0; //Boolean

	/* Global App Styles */
	--accent-colour: #ADD8E6; // fontaine-blue
	--accent-colour-contrast: #000000;

	--primary-colour: #444444;
	--primary-colour-contrast: #ffffff;
	--primary-colour-highlight: #666666;
	--primary-colour-lowlight: #222222;
	--primary-colour-shade: #333333;

	--secondary-colour: #ffffff;
	--secondary-colour-contrast: #666666;
	--secondary-colour-highlight: #eeeeee;
	--secondary-colour-shade: #cccccc;

	--dropdown-colour: grey;
	--warning-colour: #EE0000;

	/* Appbar Styles */
	--appbar-colour: var(--primary-colour-shade);
	--appbar-text-colour: var(--primary-colour-contrast);
	--appbar-accent-colour: var(--accent-colour);
	--appbar-border-colour: var(--primary-colour-highlight);

	--appbar-dropdown-colour: var(--primary-colour-shade);
	--appbar-dropdown-text-colour: var(--primary-colour-contrast);
	--appbar-dropdown-accent-colour: var(--accent-colour);
	--appbar-dropdown-border-colour: var(--primary-colour-lowlight);
	--appbar-dropdown-divider-colour: var(--primary-colour-highlight);

	/* Navigator Styles */
	--navigator-header-colour: var(--primary-colour-shade);
	--navigator-header-text-colour: var(--primary-colour-contrast);
	--navigator-header-accent-colour: var(--accent-colour);
	--navigator-header-border-colour: var(--primary-colour-lowlight);
	--navigator-header-warning-colour: var(--warning-colour);

	--navigator-colour: var(--primary-colour);
	--navigator-text-colour: var(--primary-colour-contrast);
	--navigator-border-colour: var(--primary-colour-lowlight);
	--navigator-hover-colour: var(--primary-colour-shade);
	--navigator-accent-colour: var(--accent-colour);
	--navigator-accent-colour-contrast: var(--accent-colour-contrast);

	/* Global Editor Styles*/
	--editor-header-colour: var(--primary-colour-shade);
	--editor-header-text-colour: var(--primary-colour-contrast);
	--editor-header-border-colour: var(--primary-colour-lowlight);
	--editor-header-accent-colour: var(--accent-colour);

	--editor-footer-colour: var(--primary-colour);
	--editor-footer-text-colour: var(--primary-colour-contrast);
	--editor-footer-border-colour: var(--primary-colour-lowlight);
	--editor-footer-inner-border-colour: var(--primary-colour-highlight);
	--editor-footer-accent-colour: var(--accent-colour);

	--split-editor-orientation: column; //'column' or 'row'

	/* Text Editor Styles */
	--editor-toolbar-colour: var(--secondary-colour);
	--editor-toolbar-text-colour: var(--secondary-colour-contrast);
	--editor-toolbar-border-colour: var(--primary-colour-lowlight);
	--editor-toolbar-divider-colour: var(--secondary-colour-shade);
	--editor-toolbar-selection-colour: var(--secondary-colour-highlight);
	--editor-toolbar-selection-border-colour: var(--secondary-colour-shade);

	--editor-container-colour: #555555;
	--editor-text-colour: black;
	--editor-background-colour: white;
	--editor-border-colour: none;
	--editor-drop-shadow: 10px 10px 8px black;
	--editor-page-width: 900px;
	--editor-default-font-size: 16px;

	/* Corkboard Styles */
	--corkboard-container-colour: #555555;
	--corkboard-accent-colour: var(--accent-colour);

	--corkboard-card-width: 15rem;
	--corkboard-card-text-colour: black;
	--corkboard-card-drag-icon-colour: #666666;
	--corkboard-card-line: #EE0000;
	//--corkboard-card-colour: white;

	/* Thread Map Styles */
	--story-map-zoom: 5rem;
	--story-map-container-colour: #555555;
	--story-map-text-colour: white;
	--story-map-knot-drop-shadow: 4px 3px 8px  black;
	--story-map-legend-background-colour: white;
	--story-map-legend-text-colour: black;
	--story-map-legend-border-colour: black;
	--story-map-legend-drop-shadow: 10px 10px 8px black;

	/* Distraction-Free Mode Styles */
	--distraction-free-background-color: black;
	--distraction-free-paper-color: black;
	--distraction-free-text-color: white;
	--distraction-free-page-width: 60%;
	--distraction-free-show-corners: 1; //Boolean

	/* Inspector Styles */
	--inspector-tabbar-colour: var(--primary-colour-shade);
	--inspector-tabbar-text-colour: var(--primary-colour-contrast);
	--inspector-tabbar-border-colour: var(--primary-colour-lowlight);
	--inspector-tabbar-inner-border-colour: var(--primary-colour-highlight);
	--inspector-tabbar-accent-colour: var(--accent-colour);

	--inspector-section-header-colour: var(--primary-colour-shade);
	--inspector-section-header-text-colour: var(--primary-colour-contrast);
	--inspector-section-header-border-colour: var(--primary-colour-lowlight);
	--inspector-section-header-dropdown-colour: var(--dropdown-colour);
	--inspector-section-header-accent-colour: var(--accent-colour);

	--inspector-colour: var(--primary-colour);
	--inspector-text-colour: var(--primary-colour-contrast);
	--inspector-border-colour: var(--primary-colour-lowlight);
	--inspector-inner-border-colour: var(--primary-colour-highlight);
	--inspector-accent-colour: var(--accent-colour);

	--inspector-metadata-colour: var(--primary-colour-shade);
	--inspector-metadata-table-colour: var(--primary-colour-highlight);

	--inspector-tag-colour: var(--accent-colour);
	--inspector-tag-text-colour: var(--accent-colour-contrast);
	--inspector-tag-x-colour: var(--primary-colour-contrast);
	--inspector-tag-x-hover-colour: var(--accent-colour-contrast);

	--inspector-tag-search-header-colour: var(--primary-colour-shade);
	--inspector-tag-search-colour: var(--primary-colour);
	--inspector-tag-search-border-colour: var(--primary-colour-lowlight);
	--inspector-tag-search-inner-border-colour: var(--primary-colour-highlight);
	--inspector-tag-search-text-colour: var(--primary-colour-contrast);
	--inspector-tag-search-accent-colour: var(--accent-colour);

	/* Footer Styles */
	--footer-colour: var(--primary-colour-shade);
	--footer-text-colour: var(--primary-colour-contrast);
	--footer-border-colour: var(--primary-colour-lowlight);
	--footer-alert-info-colour: var(--accent-colour);
	--footer-alert-error-colour: var(--warning-colour);

	/* Scrollbar Styles */
	--scrollbar-track-colour: var(--primary-colour);
	--scrollbar-thumb-colour: var(--primary-colour-highlight);
	--scrollbar-corner-colour: var(--primary-colour-highlight);

	/* Modal and Subwindow Styles */
	--modal-header-colour: var(--primary-colour-shade);
	--modal-header-text-colour: var(--primary-colour-contrast);
	--modal-header-border-colour: var(--primary-colour-lowlight);
	--modal-header-warning-colour: var(--warning-colour);

	--modal-colour: var(--primary-colour);
	--modal-text-colour: var(--primary-colour-contrast);
	--modal-border-colour: var(--primary-colour-highlight);
	--modal-accent-colour: var(--accent-colour);

	--subwindow-border-colour: var(--primary-colour-lowlight);

	/* Input Element Styles */
	--input-colour: transparent;
	--input-text-colour: var(--primary-colour-contrast);
	--input-border-colour: var(--accent-colour);
	--input-accent-colour: var(--accent-colour);
	--input-disabled-colour: var(--primary-colour-highlight);

	--select-border-colour: var(--primary-colour-highlight);
	--select-background-colour: var(--primary-colour-shade);

	--button-colour: transparent;
	--button-text-colour: var(--primary-colour-contrast);
	--button-accent-colour: var(--accent-colour);
	--button-warning-colour: var(--warning-colour);

	
}

@import "overrides";

@import "main";
@import "settings";
@import "threads";
@import "wordcounts";
@import "distraction-free";

@import "menus";
@import "dropdowns";
@import "modal";
@import "keyboard-focusable-button";
@import "vertical-tabular-menu";
@import "colour-picker";
@import "collapsable-div";