button.keyboard-focusable-button {
	padding: 0;

	&:focus, & > div:focus {
		outline: none;
	}
	&:focus > div {
		outline: 2px solid white;
	}

	&.border {
		//padding: .3rem;
		& > div {
			padding: .3rem;
		}
	}
}