html, body, #root {
	height: 100%;
	width: 100%;
}

.App {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
	width: 100%;
}


$header-height: 1.3rem;
$toolbar-height: 2.5rem;
$sum-top-height: $header-height + $toolbar-height;
$footer-height: 1.5rem;

footer {
	height: 1.5rem;
	color: $dark-text;
	background-color: $darker;
	border-top: 1px solid $dark-lowlight;
}

@import "appbar";

main {
	height: 100%;
	#workspace {
		height: 100%;
		display: grid;
		grid-template-rows: min-content minmax(0,1fr) min-content;



		#app-toolbar {
			height: $toolbar-height;
			background-color: $darker;
			color: $dark-text;
			border-bottom: 1px solid $dark-highlight;
		}

		#work-area {
			height: calc(100vh - #{$sum-top-height + $footer-height});
			display: grid;
			width: 100%;
			grid-template-columns: min-content auto min-content;
			grid-gap: 0px;


			@import "left-panel";
			@import "editor-area";
			@import "corkboard-area";


			
		}
		
	}
	
}