.App {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
	width: 100%;
}

$header-height: 1.3rem;
$footer-height: 1.5rem;

footer {
	height: $footer-height;
	color: $dark-text;
	background-color: $darker;
	border-top: 1px solid $dark-lowlight;
}

@import "appbar";

main {
	--toolbar-height: calc(var(--app-toolbar-active) * 2.5rem + .5rem);
	--sum-top-height: calc(var(--toolbar-height) + #{$header-height});

	height: 100%;

	#workspace {
		height: 100%;
		display: grid;
		grid-template-rows: min-content minmax(0,1fr) min-content;

		#app-toolbar {
			$icon-size: 1.5rem;
			height: var(--toolbar-height);
			background-color: $darker;
			color: $dark-text;
			border-bottom: 1px solid $dark-highlight;
			padding: .2rem .3rem;
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: 1fr 8rem 1fr;
			align-items: center;
			overflow: hidden;

			button.keyboard-focusable-button {
				font-size: $icon-size;
				margin: .25rem;
				border-radius: 3px;

				> div {
					height: $icon-size;
				}

				&.active {
					color: black;
					background-color: $fontaine-blue;
				}
			}

			span:nth-child(2) {
				text-align: center;
			}

			span:nth-child(3) {
				text-align: right;
			}

			span.editor-mode {
				border-right: 1px solid $dark-highlight;
				border-left: 1px solid $dark-highlight;
				border-radius: 3px;
				display: inline-flex;
			}
		}

		#work-area {
			height: calc(100vh - var(--sum-top-height) - #{$footer-height});
			display: grid;
			width: 100%;
			grid-template-columns: min-content auto min-content;
			grid-gap: 0px;

			#editor-area-wrapper {
				width: 100%;
				position: relative;

				.layout-splitter {
					background-color: $dark-highlight;
					border: 1px solid $dark-lowlight;
					width: 8px;
				}
				.splitter-layout-vertical .layout-splitter {
					width: 100%;
					height: 8px;
				}

				.editor-window {
					display: grid;
					grid-template-rows: 1.5rem 1fr;
					width: 100%;
					position: absolute;
					top: 0;
					bottom: 0;

					&.main-window {
						
					}

					&.split-window {

					}

					.info-bar {
						background-color: $darker;
						border-top: 1px solid $dark-lowlight;
						border-bottom: 1px solid $dark-lowlight;
						display: grid;
						grid-auto-flow: column;
						grid-template-columns: 1fr 1fr;
						align-items: center;
						padding: 0 .5rem;
						color: $dark-text;
						font-size: .9rem;

						span {
							display: inline-flex;
							align-items: center;
							text-overflow: ellipsis;
							white-space: nowrap
						}

						> span:nth-child(2) {
							justify-content: flex-end;
						}

						button {
							margin-left: .2rem;
						}

						svg {
							$dim: 1.1rem;
							width: $dim;
							height: $dim;
							vertical-align: text-bottom;
						}

					}

					.area-wrapper {
						position: relative;
					}
				}
			}

			@import "panels";
			@import "left-panel";
			@import "right-panel";
			@import "editor-area";
			@import "editor-area-footers";
			@import "corkboard-area";
			@import "overview-area";
			@import "story-map-area";	
		}
	}
}