html, body, #root {
	height: 100%;
	width: 100%;
}

.App {
	display: grid;
	grid-template-rows: min-content auto min-content;
	height: 100%;
	width: 100%;
}


$header-height: 1.3rem;
$toolbar-height: 2.5rem;
$sum-top-height: $header-height + $toolbar-height;
$footer-height: 1.5rem;

footer {
	height: 1.5rem;
	color: $dark-text;
	background-color: $darker;
	border-top: 1px solid $dark-lowlight;
}

@import "appbar";

main {
	height: 100%;
	#workspace {
		height: 100%;
		display: grid;
		grid-template-rows: min-content minmax(0,1fr) min-content;



		#app-toolbar {
			$icon-size: 1.5rem;
			height: $toolbar-height;
			background-color: $darker;
			color: $dark-text;
			border-bottom: 1px solid $dark-highlight;
			padding: .2rem .3rem;
			/*display: inline-flex;*/
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: 1fr 8rem 1fr;
			align-items: center;

			button.keyboard-focusable-button {
				font-size: $icon-size;
				margin: .25rem;
				border-radius: 3px;

				> div {
					height: $icon-size;
				}

				&.active {
					color: black;
					background-color: $fontaine-blue;
				}
			}

			span:nth-child(2) {
				text-align: center;
			}

			span:nth-child(3) {
				text-align: right;
			}

			span.editor-mode {
				border-right: 1px solid $dark-highlight;
				border-left: 1px solid $dark-highlight;
				border-radius: 3px;
				display: inline-flex;
			}
		}

		#work-area {
			height: calc(100vh - #{$sum-top-height + $footer-height});
			display: grid;
			width: 100%;
			grid-template-columns: min-content auto min-content;
			grid-gap: 0px;


			@import "left-panel";
			@import "editor-area";
			@import "corkboard-area";


			
		}
		
	}
	
}