* {
	box-sizing: border-box;

	&::-webkit-scrollbar {
	    width: 15px;
	    height: 15px;
	}

	&::-webkit-scrollbar-track {
	    background: $dark;
	}

	&::-webkit-scrollbar-thumb {
	    background: $dark-highlight;
	    border-radius: 3px;
	    border: 2px solid $dark;
	}

	&::-webkit-scrollbar-corner {
		background: $dark;
	}
}

html, body, #root {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: #{$font-family-sans};
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $darker;
}

button {
	background-color: transparent;
	border: none;
	border-radius: 0;
	cursor: pointer;
	color: $dark-text;

	&[disabled] {
		color: $dark-highlight;
		cursor: default;

		&:hover {
			color: $dark-highlight;
		}
	}

	&:hover {
		color: $fontaine-blue;
	}

	&.warning {

		&:hover {
			color: $warning-red;
			border-color: $warning-red;
		}
	}
}

button.border {
	border: none;
	border-radius: 0;
	cursor: pointer;
	color: $dark-text;
	padding: .3rem;
	border-radius: 3px;
	border: 1px solid $dark-text;
	font-size: .9rem;

	&[disabled] {
		cursor: default;
		opacity: .5;

		&:hover {
			color: $dark-text;
			background-color: inherit;
			border-color: $dark-text;
		}
	}

	&:hover {
		color: $fontaine-blue;
		border: 1px solid $fontaine-blue;
	}

	&.warning {

		&:hover {
			color: $warning-red;
			border-color: $warning-red;
		}
	}
}

input {
	font-family: #{$font-family-sans};
}

textarea {
	resize: none;
	width: 100%;
	height: 100%;
	border: none;
	font-family: $font-family-sans;
	font-size: .9rem;
	background-color: transparent;
}