.panel {
	max-height: calc(100vh - var(--sum-top-height) - #{$footer-height});
	resize: horizontal;

	&.closed {
		width: 0 !important;
		max-width: 0 !important;
		min-width: 0 !important;
		overflow: hidden;
	}
}