#right-panel {
	background-color: var(--inspector-colour);
	color: var(--inspector-text-colour);
	border-left: 1px solid var(--inspector-border-colour);

	.tab-bar {
		height: 1.5rem;
		background-color: var(--inspector-tabbar-colour);
		color: var(--inspector-tabbar-text-colour);
		border-bottom: 1px solid var(--inspector-tabbar-border-colour);
		border-right: none;

		.keyboard-focusable-button {
			color: var(--inspector-tabbar-text-colour);
			svg {
				$dim: 1.1rem;
				width: $dim;
				height: $dim;
			}

			&:hover {
				color: var(--inspector-tabbar-accent-colour);
			}

			.tab {
				border-right: 1px solid var(--inspector-tabbar-inner-border-colour);
				&.active {
					color: var(--inspector-tabbar-accent-colour);
					background-color: transparent;
				}
			}
		}
	}

	.header {
		height: 1.5rem;
		background-color: var(--inspector-section-header-colour);
		color: var(--inspector-section-header-text-colour);
		padding: .1rem .5rem;
		position: relative;
		font-size: .9rem;
		user-select: none;
		border-bottom: 1px solid var(--inspector-section-header-border-colour);
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-flex;
		align-items: center;
		width: 100%;
		margin-bottom: .1rem;

		button {
			font-size: 1rem;

			&:hover {
				color: var(--inspector-section-header-accent-colour);
			}
		}

		.right {
			flex-grow: 1;
			text-align: right;
		}
	}

	.collapsable-div {
		margin-bottom: .1rem;
		overflow: visible;
		color: inherit;
		background-color: inherit;

		&:last-child {
			flex-grow: 1;

			> div:last-child {
				height: calc(100% - 1.5rem);
			}
		}

		.collapsable-header {
			height: 1.5rem;
			background-color: var(--inspector-section-header-colour);
			color: var(--inspector-section-header-text-colour);
			border-bottom: 1px solid var(--inspector-section-header-border-colour);

			&::after {
			    border-top-color: var(--inspector-section-header-dropdown-colour);
			}
		}
	}

	textarea {
		color: var(--inspector-text-colour);
		caret-color: var(--inspector-text-colour);
		height: 100%;
		min-height: 7rem;
	}

	.inspector {
		height: 100%;
		align-content: start;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;

		.details {
			font-size: .9rem; 
			padding: 0 .3rem;
			.right {
				margin-left: 1rem;
				font-style: italic;
			}

			table {
				width: 100%;
				border-collapse: collapse;

				caption {
					text-align: left;
				}

				tr {
					display: grid;
					grid-template-columns: 1fr 3fr;
					border-collapse: collapse;
				}

				td {
					border-collapse: collapse;
					border: 1px solid var(--inspector-metadata-table-colour);
					padding: .1rem .4rem;
					text-overflow: ellipsis;

					&:first-child {
						text-align: center;
						background-color: var(--inspector-metadata-colour);
					}
				}
			}
		}
	}

	.tagger {

		> div:first-child {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 2rem;
			input {
				height: 2rem;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid var(--inspector-inner-border-colour);
				font-size: 1rem;
				color: inherit;
				display: inline;
				width: 100%;
				min-width: 100%;
			}

			button {
				display: inline;
				font-size: 1.5rem;
				border: 1px solid var(--inspector-inner-border-colour);

				&:hover {
					color: var(--inspector-accent-colour);
				}

				svg {
					vertical-align: -4px;
				}
			}
		}
		

		.tag-suggestions {
			position: absolute;
			right: calc(100% + 5px);
			top: 3rem;
			background-color: var(--inspector-tag-search-colour);
			border: 1px solid var(--inspector-tag-search-border-colour);
			min-width: 12rem;
			border-radius: 3px;
			> div {

				&:first-child {
					text-align: center;
					background-color: var(--inspector-tag-search-header-colour);
					border-bottom: 1px solid var(--inspector-tag-search-inner-border-colour);
					padding: .2rem .5rem;
				}

				&.sug-wrapper {
					max-height: 25rem;
					overflow-y: auto;

					div {
						padding: .2rem .5rem;

						&.selected {
							background-color: var(--inspector-tag-search-accent-colour);
						}

						&:not(:last-child) {
							border-bottom: 1px solid var(--inspector-tag-search-inner-border-colour);
						}
					}
				}	
			}
		}

		.tag-space {
			padding: .5rem;
			font-size: .9rem;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			overflow-y: auto;

			.tag {
				background-color: var(--inspector-tag-colour);
				color: var(--inspector-tag-text-colour);
				padding: .2rem .4rem;
				border-radius: 3px;
				margin-bottom: 5px;
				max-width: 100%;
				margin-right: 5px;
				word-wrap: break-word;

				button {
					margin-left: .2rem;
					font-size: 1rem;
					color: var(--inspector-tag-x-colour);

					svg {
						vertical-align: text-bottom;
					}

					&:hover {
						color: var(--inspector-tag-x-hover-colour);
					}

				}
			}
		}
	}
}