#right-panel {
	background-color: $dark;
	color: $dark-text;
	border-left: 1px solid $dark-lowlight;

	.collapsable-div {
		margin-bottom: .1rem;

		&:last-child {
			flex-grow: 1;

			> div:last-child {
				height: calc(100% - 1.5rem);
			}
		}

		.collapsable-header {
			height: 1.5rem;
		}
	}

	textarea {
		color: $dark-text;
		caret-color: $dark-text;
		height: 100%;
		min-height: 7rem;
	}

	.inspector {
		height: 100%;
		align-content: start;
		display: flex;
		flex-direction: column;

		.details {
			font-size: .9rem; 
			padding: 0 .3rem;
			.right {
				margin-left: 1rem;
				font-style: italic;
			}
		}
	}
}