#right-panel {
	background-color: $dark;
	color: $dark-text;
	border-left: 1px solid $dark-lowlight;



	.tab-bar {
		height: 1.5rem;

			.keyboard-focusable-button {

				svg {
					$dim: 1.1rem;
					width: $dim;
					height: $dim;
				}

				.tab {

					&.active {
						color: $fontaine-blue;
						background-color: transparent;
					}
				}
			}
		}

	.collapsable-div {
		margin-bottom: .1rem;
		overflow: visible;

		&:last-child {
			flex-grow: 1;

			> div:last-child {
				height: calc(100% - 1.5rem);
			}
		}

		.collapsable-header {
			height: 1.5rem;
		}
	}

	textarea {
		color: $dark-text;
		caret-color: $dark-text;
		height: 100%;
		min-height: 7rem;
	}

	.inspector {
		height: 100%;
		align-content: start;
		display: flex;
		flex-direction: column;
		overflow-x: hidden;

		.details {
			font-size: .9rem; 
			padding: 0 .3rem;
			.right {
				margin-left: 1rem;
				font-style: italic;
			}

			table {
				width: 100%;
				border-collapse: collapse;

				caption {
					text-align: left;
				}

				tr {
					display: grid;
					grid-template-columns: 1fr 3fr;
					border-collapse: collapse;
				}

				td {
					border-collapse: collapse;
					border: 1px solid $dark-highlight;
					padding: .1rem .4rem;
					text-overflow: ellipsis;

					&:first-child {
						text-align: center;
						background-color: $darker;
					}
				}
			}
		}
	}

	.tagger {

		> div:first-child {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr 2rem;
			input {
				height: 2rem;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid $dark-highlight;
				font-size: 1rem;
				color: $dark-text;
				display: inline;
				width: 100%;
				min-width: 100%;
			}

			button {
				display: inline;
				font-size: 1.5rem;
				border: 1px solid $dark-highlight;

				svg {
					vertical-align: -4px;
				}
			}
		}
		

		.tag-suggestions {
			position: absolute;
			right: calc(100% + 5px);
			top: 3rem;
			background-color: $dark;
			border: 1px solid $dark-lowlight;
			min-width: 12rem;
			border-radius: 3px;
			> div {

				&:first-child {
					text-align: center;
					background-color: $darker;
					border-bottom: 1px solid $dark-highlight;
					padding: .2rem .5rem;
				}

				&.sug-wrapper {
					max-height: 25rem;
					overflow-y: auto;

					div {
						padding: .2rem .5rem;

						&.selected {
							background-color: $fontaine-blue;
						}

						&:not(:last-child) {
							border-bottom: 1px solid $dark-highlight;
						}
					}
				}	
			}
		}

		.tag-space {
			padding: .5rem;
			font-size: .9rem;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			overflow-y: auto;

			.tag {
				background-color: $fontaine-blue;
				color: black;
				padding: .2rem .4rem;
				border-radius: 3px;
				margin-bottom: 5px;
				max-width: 100%;
				margin-right: 5px;
				word-wrap: break-word;

				button {
					margin-left: .2rem;
					font-size: 1rem;

					svg {
						vertical-align: text-bottom;
					}

					&:hover {
						color: black;
					}

				}
			}
		}
	}
}