.map-area {
	display: grid;
	grid-template-rows: 1fr min-content;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	
	.map-wrapper {
		background-color: var(--story-map-container-colour);
		width: 100%;
		overflow-x: auto;
		overflow-y: auto;
		min-width: 100%;
		width: auto;	
		padding: 1rem;

		.map-scroll {
			min-width: 100%;
			width: max-content;
			padding: 1rem;
			margin-top: 2rem;
			color: var(--story-map-text-colour);
		}

		.thread-wrapper {
			margin: .5rem auto;
			height: 2rem;

			> div {
				display: inline-block;
			}

			.rope-wrapper, .title-wrapper {
				height: 100%;
				position: relative;
				z-index: 0;
				width: var(--story-map-zoom);
				min-width: 1.3rem;

				&.selected {
					box-shadow: inset 0 0 5px $fontaine-blue;
				}	
			}

			.rope-wrapper {
				cursor: pointer;

				&:first-child:before {
					content: "";
					position: absolute;
					left: 0;
					width: 3px;
					border-left: 1px dashed var(--story-map-text-colour);
					height: 100%;
				}
				&:after {
					content: "";
					position: absolute;
					right: 0;
					width: 3px;
					border-right: 1px dashed var(--story-map-text-colour);
					height: 100%;
				}
			}

			.title-wrapper {
				position: relative;

				& > div {
					transform-origin: 0 0;
					transform: translateY(.3rem) rotate(-45deg) ;
					position: absolute;
					left: -.9rem;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					height: 1.4rem;
					width: 8rem;
					border-bottom: 1px dashed var(--story-map-text-colour);
				}
			}

			.rope, .empty {	
				width: 100%;
				height: .8rem;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				z-index: 0;
			}

			.rope {
				background-color: red;

				.knot {
					margin: 0 auto;
					width: 1.3rem;
					height: 1.3rem;
					background-color: white;
					border-radius: 300%;
					border: 1px solid black;
					z-index: 1;
					position: absolute;
					top: 50%;
					transform: translateY(-55%) translateX(50%);
					right: 50%;
					box-shadow: var(--story-map-knot-drop-shadow);

					&.selected {
						background-color: $fontaine-blue;
					}

					&:hover {
						background-color: $fontaine-blue;
					}	
				}
			}
		}

		.legend-wrapper {
			width: 90%;
			max-width: 40rem;
			min-width: 10rem;
			position: sticky;
			left: 0;
			padding: 1rem;
			margin: 0 auto;
			border: 1px solid var(--story-map-legend-border-colour);
			background-color: var(--story-map-legend-background-colour);
			border-radius: 3px;
			box-shadow: var(--story-map-legend-drop-shadow);

			.knot-viewer {
				width: 100%;
				padding-bottom: .5rem;
				border-bottom: 1px solid black;
				margin-bottom: 1rem;
			}
		}

		.map-legend {
			display: grid;

			.legend-row {
				display: inline-grid;
				grid-template-columns: 1rem 1fr;
				align-items: center;
				div {
					display: inline-block;

					&:first-child {
						width: 1rem;
						height: 1rem;
						justify-self: center;
						border-radius: 3px;
					}
					&:last-child {
						padding-left: .5rem;
					}
				}
			}
		}
	}
}