.threads-modal {
	display: grid;
	grid-template-rows: 14rem 1fr;
	padding: .5rem;
	height: 100%;

	.scroll-wrapper {
		overflow-y: auto;

		& > div {
			display: grid;
			height: 2rem;
			grid-template-columns: 2rem 1fr 2rem;
			align-content: center;
			align-items: center;
			justify-items: center;
			.colour-picker {
				height: 1.5rem;
				> button {
					height: 1.5rem;
					width: 1.5rem;
					> div {
						height: 1rem;
						width: 1rem;
					}
				}
			}
			input {

			}
			button {
				font-size: 1.2rem;
				height: 1.2rem;
				> div {
					height: 1.2rem;
				}
			}
		}
	}

	& > div:last-child {
		align-self: end;
		margin: 0 auto;
		button {
			font-size: 1.5rem;
			height: 1.5rem;
			> div {
				height: 1.5rem;
			}
		}
	}
}