.tabular-menu {

	.tab-bar {
		background-color: var(--primary-colour-shade);
		border-right: 1px solid var(--primary-colour-lowlight);

		.keyboard-focusable-button {
			font-size: 1rem;

			.tab {

				&.active {
					background-color: var(--accent-colour);
					color: var(--accent-colour-contrast);
				}
			}
		}
	}

	.window {
		height: 100%;
	}

	&.vertical {
		height: 100%;
		display: grid;
		grid-template-columns: 10rem 1fr;

		.tab-bar {
			height: 100%;
			background-color: var(--primary-colour-shade);
			border-right: 1px solid var(--primary-colour-lowlight);

			.keyboard-focusable-button {
				display: block;
				width: 100%;
				font-size: 1rem;

				.tab {
					width: 100%;
					height: 2rem;
					line-height: 2rem;
					border-bottom: 1px solid var(--primary-colour-highlight);

					&.active {
						background-color: var(--accent-colour);
						color: var(--accent-colour-contrast);
					}
				}
			}
		}
	}

	&.horizontal {

		.tab-bar {
			background-color: var(--primary-colour-shade);
			border-right: 1px solid var(--primary-colour-lowlight);

			.keyboard-focusable-button {
				font-size: 1rem;
				width: 2rem;

				> div {
					width: 2rem;
				}

				svg {
					vertical-align: text-bottom;
				}

				.tab {
					border-right: 1px solid var(--primary-colour-highlight);

					&.active {
						background-color: var(--accent-colour);
						color: var(--accent-colour-contrast);
					}
				}
			}
		}
	}	
}